.app-header {
  height: 40px;

  a {
    color: black;
    &:visited {
      color: black;
    }
  }

  .logo {
    a {
      font-family: Comfortaa-SemiBold, sans-serif;
      font-size: rem(24px);
      color: #2196f3;
    }
  }

  nav {
    & > * {
      margin-left: 8px;
    }
  }
}
