@font-face {
  font-family: montserrat;
  src: url(~@/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-b;
  src: url(~@/assets/fonts//Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-l;
  src: url(~@/assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(~@/assets/fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: Comfortaa-SemiBold;
  src: url(~@/assets/fonts/Comfortaa/Comfortaa-SemiBold.ttf);
}
