// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #69a7c9;
$clr5: #f6f4f6;
$clr6: #fff;
$clr7: #fccc12;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1400px;
